/* reporte-diario.css */
#tablaReporteDiario thead th {
    white-space: nowrap;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .03em;
}

#tablaReporteDiario tbody td {
    font-size: .875rem;
    vertical-align: middle;
}

#cardTotal, #cardPEN, #cardUSD, #cardRamos {
    font-size: 1.6rem;
}

